---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Hunter Steven Shaw"
	pubDate={new Date('May 06 2025')}
	heroImage="/about.jpg"
>
	<p>
		I'm Steven and I'm from Idaho, where we power our computers with potatoes. I first discovered web development back in high school when I signed up for <dfn title="Business Professionals of America">BPA</dfn>. This is where I entered a competition in the 10th grade for "Web Design" and got second place in state, without knowing a thing other than some Photoshop and HTML. I remember spending hours on that website in high school, and after graduation I went and traveled all around Latin America, then went back to get an Associates Degree in Web Development.
	</p>

	<p>
		When I lived in Costa Rica, my host family's house was located behind a coffee plantation. Where I truly got to understand the way of a good cup of coffee and it's sufficient value. I love to code and I love to drink coffee while doing it. A relaxing cup of coffee is important in my life. I love to solve problems. PERIOD. I really believe this is the main reason why I love and enjoy web development. Coding to me means more than just memorization of syntax, it allows me to think logically, which has changed my life for the better.
	</p>

	<p>
		Spanish has really taught me to appericate and respect the learning process. Not only did I learn to love languages and how lauguages truly function, but it has allowed me to understand the process of web development as well. When I'm faced with a new language or framework to learn, Spanish has taught me to be patient while learning. I'm a professionist at heart and because of this, I often never feel satistifed with just doing the bare minimum. I take pride in my work and never understand the people who development an unenjoyable user experience.
	</p>
</Layout>
