---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🥔Hello, I'm Hunter</h1>
			<p>
				Welcome to my official Blog</a> website. This will be a blog web app for documentation and making posts. This will include documentation on new tech stacks, frameworks, and libraries that I learn and develop with.
			</p>
			<p>
				This will be posts of things I learn throughout my web development career. From challenges to problems to solutions. You'll find more by checking out my <a href="/blog">blog</a> posts.
			</p>
			<p>Tech Stacks I work with:</p>
			<ul>
				<li>The Basics - Javascript, HTML, and of course CSS.</li>
				<li>ReactJS/NextJS</li>
				<li>SASS/TailwindCSS</li>
				<li>MySQL/MongoDB</li>
				<li>...and so much <strong>more!</strong></li>
			</ul>
			<p>
				You can checkout my portfolio online at
				<a href="https://hunterstevenshaw.com/" target="_blank">https://hunterstevenshaw.com/</a>
				or look at old/current projects I'm coding on my <a href="https://github.com/Kasador" target="_blank">Github</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
